<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Papetaria Papirus - cos virtual.">
        <meta name="keywords" content="papetarie, papirus, rechizite, caiet, caiete, consumabile imprimanta, instrumente de scris">
        
        <title>Papetaria Papirus - galerie</title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/galerie_statica.css">
    </head>
    <body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <%- include("../fragmente/galerie.ejs") %>
    </main>

    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>