<footer>

    <p>
        <i class="fa-brands fa-google"></i>
        <a href="http://www.google.com" target="_blank">Google</a>
    </p>

    <p>
        <i class="fa-solid fa-file-arrow-down"></i>
        <a href="fisier.pdf" download>Descarcabil</a> 
    </p>

<!-- !!!!!!!!!!!!!!!!!!!!!  INTREBARE !!!!!!!!!!!!!!!!!!-->
    <a id="link-top" href="#" title="MERGI SUS">
        <span id="sageata">&#8593;</span>
    </a>

    </body>

    </html>


    <section id="contact">
        <address>
            Strada Hartiei, Nr. 26, București, Sector 1, România
            
            <p>
                <i class="fa-solid fa-location-dot"></i>
                
                Apasă <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică">aici</a> pentru
                a
                deschide locația pe Google Maps.
                
            </p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:papetaria.papirus@gmail.com"> Mail Papetaria Papirus | </a>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+4071234567"> Telefon Papetaria Papirus |</a>
            <i class="fa-brands fa-skype"></i>
            <a href="skype:username?chat">Deschide Skype pentru chat</a>
        </address>
    </section>

    <p><small>Copyright &copy; <time datetime="2024-02-26"> 26 Februarie 2024</time> </small></p>
</footer>